# azure-pipelines.yml
trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseNode@1
  inputs:
    version: '16.x'

- script: npm install
  displayName: 'Instalar dependencias'

- script: npm test
  displayName: 'Ejecutar pruebas'

- script: npm run build
  displayName: 'Construir aplicación'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)
    artifactName: drop
    publishLocation: 'Container'

- task: AzureWebApp@1
  inputs:
    azureSubscription: '<nombre-de-tu-subscripción>'
    appType: 'webAppLinux'
    appName: '<nombre-de-tu-app>'
    package: '$(Build.ArtifactStagingDirectory)' 
